In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from pathlib import Path

In [2]:
def load_data(filepath):
    return pd.read_csv(Path(filepath))
input_file = Path("../data/dataset_clustering_project.csv")
df = load_data(input_file)
df.head()

   CustomerID  Gender  Age  income  credit score
0           1    Male   19      15            39
1           2    Male   21      15            81
2           3  Female   20      16             6
3           4  Female   23      16            77
4           5  Female   31      17            40

In [3]:
def preprocess_data(df):
    df  = df.drop(columns=['CustomerID'], errors='ignore')
    if 'Gender' in df.columns:
        le = LabelEncoder()
        df['Gender'] = le.fit_transform(df['Gender'])
    
    df = df.fillna(df.median())
    
    scaler = StandardScaler()
    df[['Age','income','credit score']] = scaler.fit_transform(df[['Age', 'income', 'credit score']])
    return df

df_cleaned = preprocess_data(df)
df_cleaned.head()

   Gender       Age    income  credit score
0       1 -1.424569 -1.738999     -0.434801
1       1 -1.281035 -1.738999      1.195704
2       0 -1.352802 -1.700830     -1.715913
3       0 -1.137502 -1.700830      1.040418
4       0 -0.563369 -1.662660     -0.395980

In [4]:
def save_processed_data(df, output_filepath):
    df.to_csv(Path(output_filepath), index=False)
    print(f"Preprocessed data saved to {output_filepath}")


output_filepath = Path("../data/preprocessed_data.csv")


save_processed_data(df_cleaned, output_filepath)

Preprocessed data saved to ..\data\preprocessed_data.csv